custom-vars.el
eln-cache/
elpa*/
history
places
recentf
auto-save-list
eln-cache
elpa
history
nohup.out
places
recentf
transient
.undo-tree-history/
.lsp*
lsp-session-*
.persistent-scratch
history
places
projectile-*
recentf
transient/
games/vimish-fold/
emacs/vimish-fold/
dirvish
