themes {
       mine {
            fg      "#FFFFFF"
            bg      "#000000"
            black   "#000000"
            blue    "#8BE9FD"
            cyan    "#8BE9FD"
            green   "#50FA7B"
            magenta "#FF79C6"
            red     "#FF5555"
            white   "#FFFFFF"
            yellow  "#FFB86C"
            orange  "#FFB86C"
       }
}
